@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Sansita+Swashed:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
}
.container::before{
    content: "";
    background: url('../img/bgAdmin.jpg') no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.signin-container{
    width: 30%;
    color: white;
    position: absolute;
    top: 30%;
    left: 35%;
}
.signin-container h1{
    text-align: center;
    font-size: 50px;
    border-bottom: 2px solid purple;
    padding: 5px 15px;
    margin-bottom: 45px; 
    font-family:  cursive;
}
.box{
    width: 100%;  
    margin: 12px 0px;
    border-bottom: 2px solid purple;
}
.box FontAwesomeIcon{
     width:25px;
    text-align: center;
    padding: 0px 12px;
}
.box input{    
    font-size: 20px;
    outline: none;
    width: 75%;
    padding: 5px 10px;
    text-align: center;
    border: none;
    border-radius: 10px;
    background: none;
    color: white;
    margin-left: 30px;
}
.btn-signin{
    cursor: pointer;
    font-size: 20px;
    padding: 5px 10px;
    border: 2px solid purple;
    border-radius: 10px;
    outline: none;
    color: white;
    display: block;
    width: 45%;
    margin: 20px auto;
    background: none;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
}
.btn-signin:hover{
    background-color: white;
    color: purple;
    opacity: 0.5;
}
.msg{
    color: red;
    text-align: center;
    margin-bottom: 20px;
}