@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
}
.logo img{
    width: 55%;
    border: none;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.nav-list{
    display: flex;
    align-items: center;
    width: 40%;
}
.nav-list li{
    list-style: none;
    padding: 22px 20px;
}
.listdesign{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}
.listdesign:hover{
    color: gray;
}
.background{
    background: rgba(0, 0, 0, 0.7) url('../img/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.mb-10{
    margin-bottom: 80rem !important;
}
.table{
    margin:10rem !important
}