.text-footer {
  text-align: center;
  padding: 10px 0;
  font-size: 15px;
  font-family: "Century Gothic", sans-serif;
  display: flex;
  justify-content: center;
  color: white;
  position: relative;
  bottom: 0;
}
