/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap'); */
* {
  margin: 0;
  padding: 0;
}
.firstSection {
  height: 90vh;
}
.main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 75%;
  height: 75%;
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.firstHalf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}
.secondHalf {
  width: 30%;
}
.secondHalf img {
  display: block;
  margin: auto;
  width: 50%;
  border: 2px solid white;
  border-radius: 94px;
}
.text-big {
  font-size: 45px;
  padding: 12px 0;
  font-weight: bold;
}
.text-small {
  font-size: 20px;
}
.btn {
  font-size: 16px;
  padding: 5px 15px;
  border: 2px solid white;
  border-radius: 25px;
  background: none;
  color: white;
  margin: 10px 5px;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
}
.btn-dark {
  color: black;
  border: 2px solid gray;
}
.btn:hover {
  background-color: rgb(194, 189, 189, 0.54);
}
.btn-small {
  padding: 3px 10px;
  vertical-align: middle;
  font-size: 15px;
}
.section {
  /* height: 420px; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 80%;
  margin: auto;
  font-family: "Century Gothic", sans-serif;
  padding: 10px;
}
.para {
  padding: 0 65px;
}
.sectionTag {
  font-size: 35px;
}
.sectionSubTag {
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.section-left {
  flex-direction: row-reverse;
}
.thumbnail img {
  width: 220px;
  border: 2px solid black;
  border-radius: 25px;
  margin-top: 15px;
}
.contact {
  background-color: #e6e6e6;
  height: 614px;
}
.subHeading {
  text-align: center;
  /* padding: 5px 0; */
  padding-top: 12px;
  font-size: 35px;
  font-family: "Century Gothic", sans-serif;
}
