/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap'); */
* {
  margin: 0;
  padding: 0;
}
.smallnav {
  display: flex;
  align-items: center;
  background-color: #e8e8e4;
}
.smallnav-info {
  display: flex;
  padding: 7px 20px;
  margin: 0 60px;
}
.smallnav-info FontAwesomeIcon {
  margin: 0px 6px;
}
.icon {
  display: flex;
  position: absolute;
  right: 5%;
}
.icondesign {
  display: inline;
  margin: 0px 6px;
}
.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 75%;
  border: none;
}
.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 75%;
  border: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
}
.nav-list {
  display: flex;
  align-items: center;
  width: 70%;
}
.nav-list li {
  list-style: none;
  padding: 22px 20px;
}
li a {
  color: white;
  text-decoration: none;
}

.listdesign {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: "Century Gothic", sans-serif;
}
.active {
  color: gray;
  border-bottom: 2px solid gray;
}

.listdesign:hover {
  color: gray;
}
.right-nav {
  width: 30%;
  text-align: right;
}
#search {
  padding: 5px;
  border: 2px solid gray;
  border-radius: 20px;
  outline: none;
}
.background {
  background: rgba(18, 18, 54, 0.5) url("../img/bg.jpg");
  background-size: cover;
  background-blend-mode: darken;
}
.btn {
  font-size: 16px;
  padding: 5px 15px;
  border: 2px solid white;
  border-radius: 25px;
  background: none;
  color: white;
  margin: 10px 5px;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-family: "Century Gothic", sans-serif;
}
.btn-small {
  padding: 3px 10px;
  vertical-align: middle;
  font-size: 15px;
}
